* {
    scroll-margin-top: calc(var(--nav-bar-height) + 70px);
}

.page-info-section {
    display: flex;
    justify-content: center;
}

.page-header {
    background-image: url(/images/misc/pallet-racking-1-banner.avif);
    background-position: 0 50%;
}

/* Checker */
.checker-section {
    display: flex;
    flex-direction: column;
}
.checker-section .checker-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    z-index: 0;

    & > h2 {
        padding: 20px 0;
        margin-bottom: 25px;
        background-color: var(--dark-gray);
        color: white;
        border-radius: 0px;
        width: 100%;
        text-align: center;
        background-image: url(/images/textures/stripes.png);
        background-size: 12px;
    }
}
.checker-section > div:nth-of-type(2n) {
    background-color: var(--extra-light);
    /* .checker-content {
        flex-direction: row-reverse;
    } */
    .checker-image-grid-container {
        float: right;
        margin-left: 5vw;
    }
}
.checker-section > div:nth-of-type(2n+1) {
    background-color: white;
    /* .checker-content {
        flex-direction: row;
    } */
    .checker-image-grid-container {
        float: left;
        margin-right: 5vw;
    }
}
.checker-subsection .checker-content {
    margin: 0 10vw;
}
.checker-subsection .checker-text {
    /* width: 25vw; */
    margin: 2.5vw 0vw;

    h3 {
        padding-bottom: 5px;
    }
    .title-specification {
        padding-bottom: 15px;
    }
}
.checker-subsection .checker-image-grid-container {
    display: grid;
    grid: 2fr 1fr 1fr 2fr / 3fr 1fr 2fr 2fr 1fr 3fr;
    width: 36vw;
    min-width: 375px;
    height: 24vw;
    min-height: 250px;
    gap: 2.5px;
}
.checker-subsection .checker-image {
    overflow: hidden;
    color: white;
    /* border: 2.5px solid var(--navy); */

    background-color: var(--gray);
    background-image: url(/images/textures/stripes.png);
    background-size: 12px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span {
        position: absolute;
        background-color: rgb(27, 32, 39, 0.5);
        color: white;
        text-shadow: 0 0 5px black;
        text-align: center;
        align-content: center;
        top: 0; bottom: 0; left: 0; right: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1cqi;
    }
}

#page-content-nav {
    padding: 10px 2vw;
    margin: 25px 0;
    background-color: rgba(238, 241, 245, .75);
    backdrop-filter: blur(10px) saturate(50%);
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
    z-index: 1;

    position: sticky;
    top: var(--nav-bar-height);
    z-index: 98;
}

@media (max-width: 1250px) {
    .small-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
    * {
        scroll-margin-top: calc(var(--nav-bar-height) + 120px);
    }
}

@media (max-width: 600px), (max-height: 600px) {
    #page-content-nav {
        position: static;
    }
}
@media (min-width: 500px) and (min-height: 900px) {
    #page-content-nav {
        position: sticky;
    }
}
@media (max-width: 600px) {
    #page-content-nav {
        .small-grid-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
@media (max-width: 600px) {
    #page-content-nav {
        .small-grid-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
@media (max-width: 400px) {
    #page-content-nav {
        .small-grid-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media (max-width: 300px) {
    #page-content-nav {
        .small-grid-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}


@media (max-width: 780px) {
    .checker-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .checker-subsection .checker-text {
        width: 75vw;
    }
    .checker-subsection .checker-image-grid-container {
        width: 75vw;
        min-width: 0;
        max-width: 450px;
        height: 50vw;
        min-height: 0;
        max-height: 300px;
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .checker-subsection .checker-text {
        p {
            font-size: small;
        }
        h3 {
            font-size: medium;
        }
        .title-specification {
            font-size: x-small;
        }
    }
}