.page-header {
    background-image: url(/images/misc/steel-shelving-1-banner.avif);
    background-position: 0 30%;
}

.main-article-content {
    margin: 75px 10vw;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}
p, ul {
    margin-bottom: 10px;
}